



  *{

	padding: 0; /*Aca se borrar los valores que vienen determinados por defecto */
	margin: 0;
	
}




body{
	
	 font-family: Arial, Helvetica, sans-serif ; 	 	 
	font-size:12px; 
	line-height:20px;
	color:#000000;
	background:#fff;
	margin: 0;


}




main{

background: #544E4D;
box-shadow: 4px 4px 2px #010101
;


color: white;
padding:1px;

}


header{
width:100%; 

	background: #ffc578; 
background: -moz-linear-gradient(top,  #ffc578 50%, #fb9d23 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc578 50%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffc578 50%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
 

	
}
 
 .Maqueta{


width: 100%;
height: auto;
margin: auto;                  
padding: 0px;
position: relative;
overflow: hidden;
/*este es el margen inferior*/


 }



.Menu{

	
width: 100%;
    
	margin: 5px 2px 4px;


    background : #fff;
    

	

	
}

.Menu ul{
	

	list-style: none;
	line-height: 2px;
	display: flex;




}
.horizontal > li{
	position: relative;
	display: inline-block;
	box-shadow:3px 4px 8px #dddddd;
		border-radius: 4px;
		text-align: center;
		flex-grow: 1;




}
.horizontal > li >a{
	display: block;
	padding: 30px 35px;
	color: black;
	text-decoration: none;
	font-size: 15px;


}
.horizontal li a:hover{
	color: #CE7D35;
	transition: all .3s;


}
.Submenu{
	position: absolute;
	background:#333333;
	
	
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;


}
.Submenu li a{
	display: block;

	padding: 15px;
	color: #fff;
	text-decoration: none;




}

.horizontal li:hover .Submenu{
	visibility: visible;
	opacity: 1;



}


.drawer{
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid .1rem var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox{
    display: none;
}

section{
	background: white;
	width: 100%;
	height: auto;
	margin: 3px 5px 20px;
	float: left;
	



}
.imagenes{

float: left;
	display: flex;
	
	
	


}
.box{
 width: 225px;
 height: 231px;
	position: relative;
	margin: 10px;

	
	
}
.box img{
	width: 100%;
	height: 100%;


}
.capa{

	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5); 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	transform: scale(0);
	transition: .3s ease;

}
.capa a{
	text-decoration: none;
	color:  #fff;

}
.box:hover .capa{
	transform: scale(1);

}
aside{
	
	background: white;
	width: 700px;
	height: auto;
	margin: 15px 5px 5px;
	float: left;

	
  }
  

footer{
	
/*este es el color de fondo, en este caso es un verde claro*/
	
	background: #111;
	height: auto;
	width: 100%;
	
    font-family: "open sans";
	
	color: #ddd;
	float: left;

	

  
}

.footer-contenido{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
}
.footer-contenido h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;


}
.footer-contenido p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.social{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.social li{
	margin: 0 10px;
}

.social a{
	text-decoration: none;
	color: #fff;

}
.social a i{
	font-size: 1.1rem;
	transition: color .4s ease;

}
.social a:hover i{
	color: aqua;

}

.Derechos{
	background: #000;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.Derechos p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.Derechos span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;

}
.slider { 
	width: 90%; /*ancho al 100% del elemento padre*/
	margin: auto;
	box-shadow: 4px 4px 8px #000000;
	border-radius: 8px;
 

	overflow: hidden; /*establece que el desbordamiento se oculte*/
}

.slider ul {
	display: flex;
	 /*establece la presentacion como flex*/
	padding: 0; /*el margen interno del elemento es cero*/
	width: 700%; /*se establece el ancho en 400% porque son 4 imagenes, cada una en 100%*/
	animation: cambio 16s infinite normal linear; /*inicia una animacion con los parametrso Nombre Tiempo Repeticiones Direccion Ritmo*/
}

.slider li {
	width: 100%; /*se establece el ancho de cada elemento del ul al 100%*/
	list-style: none; /*los elementos se le quitan el estilo*/
}

.slider img {
	width: 100%; /*como se usan imagenes, se establece el ancho al 100% de elemento padre, en este caso el de los li*/
}

@keyframes cambio { 
	0%{margin-left:0%;} /*inicio en porcentajes primer slide*/
	20%{margin-left:0%;} /*fin en porcentaje primer slide*/
	
	25%{margin-left:-100%;} /*inicio en porcentajes segundo slide*/
	45%{margin-left:-100%;} /*fin en porcentaje segundo slide*/
	
	50%{margin-left:-200%;} /*inicio en porcentajes tercer slide*/
	70%{margin-left:-200%;} /*fin en porcentaje tercer slide*/
	
	75%{margin-left:-300%;} /*inicio en porcentajes cuarto slide*/
	100%{margin-left:-300%;} /*fin en porcentaje cuarto slide*/


}





