



  *{

	padding: 0; /*Aca se borrar los valores que vienen determinados por defecto */
	margin: 0;
	
}




body{
	
	 font-family: Arial, Helvetica, sans-serif ; 	 	 
	font-size:12px; 
	line-height:20px;
	color:#000000;
	background:#fff;
	margin: 0;


}




main{

background: #544E4D;
box-shadow: 4px 4px 2px #010101
;


color: white;
padding:1px;

}


header{


	background: #ffc578; 
background: -moz-linear-gradient(top,  #ffc578 50%, #fb9d23 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc578 50%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffc578 50%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
 

	
}
 
 .Maqueta{


width: 100%;
height: auto;
margin: auto;                  
padding: 0px;
position: relative;
overflow: hidden;
/*este es el margen inferior*/


 }



.Menu{

	

    width: 100%;
	margin: 15px 2px 4px;


    background : #fff;
    

	

	
}

.Menu ul{

	list-style: none;
	line-height: 2px;
display: flex;



}
.horizontal > li{
		position: relative;
	display: inline-block;
	box-shadow:3px 4px 8px #dddddd;
		border-radius: 4px;
		text-align: center;
		flex-grow: 1;




}
.horizontal > li >a{
	display: block;
	padding: 30px 35px;
	color: black;
	text-decoration: none;
	font-size: 15px;


}
.horizontal li a:hover{
	color: #CE7D35;
	transition: all .3s;


}
.Submenu{
	position: absolute;
	background:#333333;
	
	
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;


}
.Submenu li a{
	display: block;

	padding: 15px;
	color: #fff;
	text-decoration: none;




}

.horizontal li:hover .Submenu{
	visibility: visible;
	opacity: 1;



}

section{
	background: white;
	width: 700px;
	height: 1050px;
	margin: 15px 5px 5px;
	float: left;
	

}

section h1{
	margin: 10px 5px 4px;
	font-family: "open sans"

}
section hr{
	border: 0 none #000000;
border-top: 1px solid #000000;
height: 1px;
margin: 5px 0;
display: block;
clear: both;
width: 100%;
}

section p{
	margin-right: 15px;
	text-align: justify;           /*se alinea el texto del parrafo y se aumenta a 10 px su relleno*/
	padding: 5px;


	

}
aside{
	width: 280px;
	background: white;
	height: 550px;
	float: left;
	margin: 63px 8px 5px;

	
  }
  aside h4{
  	text-align: center;
  	text-decoration: underline;
    margin: 0px 8px 5px;

  }
  .lista{
  	margin: 3px 88px 55px;

  	list-style-type: circle;

  
  	

  }
  .lista>li{
position: relative;
line-height: 5;


  }
  .lista>li>a{
text-decoration: none;
display: block;
font-size: 11.5px;
color: black;
  }

  .lista li a:hover{
  	color: red;
	transition: all .3s;

  }


footer{
	
/*este es el color de fondo, en este caso es un verde claro*/
	
	background: #111;
	height: auto;
	width: 100%;
	
    font-family: "open sans";
	
	color: #ddd;
float: left;
	

  
}

.footer-contenido{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
}
.footer-contenido h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;


}
.footer-contenido p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.social{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}
.social li{
	margin: 0 10px;
}

.social a{
	text-decoration: none;
	color: #fff;

}
.social a i{
	font-size: 1.1rem;
	transition: color .4s ease;

}
.social a:hover i{
	color: aqua;

}

.Derechos{
	background: #000;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.Derechos p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.Derechos span{
text-transform: uppercase;
opacity: .4;
font-weight: 200;

}